<div class="container">
	<div class="row">
		<section class="col-sm-12">
			<article class="content">
				<h3>
					Jake; a brief synopsis
				</h3>
				<img src="http://jhwebdev.com/assets/images/me.jpg">

				<p>
					I have been working in front-end development for nearly 5 years now. When working on a new project I put myself in the shoes
					of the end user so that I can provide the best results I can for them. I dive into the different ways they might use the app and build the best solutions for them.
					<br>
					<br> In March of 2018 I was certified as a Full-Stack developer from the University of Utah. In addition I also won
					best UI/UX for the <a href="www.studentcrashpads.com" target="_blank">Student Crash Pads</a> housing finder app.
					<br>
					<br> I love trying new things in development and I am not afraid of making mistakes because that is how we learn and
					improve ourselves.
				</p>
			</article>
			<article class="content-r">
				<h3>
					Employment / Work History
				</h3>
				<img src="assets/images/primegov.png" width="150">
				<p>
					<strong>Prime Government Solutions</strong><br>
					Most recently I have been working at Prime Government Solutions located in Lehi, Utah. Prime Gov builds an agenda management software that is typically used by City Councils. Software functions include, but are not limited to meeting creation, live meeting streaming, public notifications, city committee management
					<h4>Selected Contributions</h4>
					<ul>
						<li>
							Standardized the translations process.
						</li>
						<li>
							Worked on new features of the app utilizing C# .NET.
						</li>
						<li>
							Coordinated training for the Implementation Team on various aspects of the software.
						</li>
						<li>
							Fix various bugs throughout the software.
						</li>
					</ul>
				</p>
				<hr><img src="assets/images/Administrator_EDIT.png" width="150">
				<p>
					<strong>Quomation Insurance Services (Contractor)</strong><br>
					Quomation provides insurance agencies with
					various quoting/forms software to enable them to better serve their clients.
					<h4>Selected Contributions</h4>
					<ul>
						<li>
							Initialized and oversaw the design, UI and UX of a new insurance forms project.
						</li>
						<li>
							Established a style guide for the other developers to utilize when working on the insurance forms project.
						</li>
						<li>
							Utilized tools such as ASP.NET MVC (version 4) and C# to build various, optimum performing, aspects of the insurance forms project.
						</li>
					</ul>
				</p>
				<hr>
				<img src="assets/images/zija_pharamtech.png">
				<p>
					<strong>Pharmatech</strong><br>
					I was with Pharmatech from early 2015 through mid-2018. Pharmatech provides back office solutions for network marketing
					companies of all sizes. These solutions include enrolling new distributors, allowing for placing of orders, along with
					checking commissions.
					<br>
					<br>
					<h4>Selected Contributions</h4>
					<ul>
						<li>A full rebuild of the account settings page, rendering the page 50% faster and much more user friendly.</li>
						<li>Enabled distributors to download invoices for a full calendar year for tax purposes. The way this was built allows for an infinite amount of time to pass without needing to update the code. </li>
						<li>
							Overseeing the inputing of translations for our global site. While overseeing translations I was able to make
							the site 98% translated, minus any new builds that were in production or just released, as well as improving the
							quality of translations.
						</li>
					</ul>
				</p>
			</article>
			<article class="content">
				<h3>
					Education
				</h3>
				<img src="assets/images/university-of-utah_200x200.jpg">

				<p>
					As mentioned above, I was certified as a Full-Stack developer by the University of Utah in March 2018.
					<br>
					<br> The process of the certification was an intensive 24-week long course dedicated to designing and building web applications.
					Skills learned consist of HTML5, CSS3, Javascript, JQuery, Bootstrap, Firebase, Node.js, MySQL, MongoDB, Express, Handlebars.js,
					& React.js.
					<br>
					<br> I also received my Associates degree in Graphic Design from Stevens-Henager
					College in 2011.
					<br><br>
					In addition to the certification and the degree, I am constantly utilizing online tutorials to master new and exciting languages, among other things, within the tech industry.
				</p>
			</article>
			<article class="content-r">
				<h3>
					A Final Note
				</h3>
				<img class="acct_img" src="https://lh3.googleusercontent.com/SRo4tiZA9uGk1w9yg4hZ7mixWeayFqXCaS1nNXyIo4HOHERPbr6KSh7qkAbk6sFXLJbMW5im_m2Ye68ng4q6BM8XaNPWelDnuYETzguj0wbjx1RWKQPIfQqGkeSV2HA2qWSvaDBtHEaCcUpqWWeA3_6qPVCdF-ZS-9ovCJUiSejp9vJzYVRqNLFy7pLylzyES0OlrN9bD4fGO8xh6dIzR1JBpt1N2l0q4oSScGHu3GkmJDVbHsD7Nry7DpsyW2w49dFjI2QKV7ijLR5y31pBtrWYprNjAAM6MwuRd6rmQU1mJeNW9biF1C6dd0GCglNm7sNgExiNNltaD1240LVH85xn7LE6j70b581LCgWVl8HXleJkeY0wssm1ZQmFWzjDusZa2Rbx3065wt8RdN2Aj0-aJ9d1ZA3bbT8vuBtERDBS2SKegVqXDcxkXTfuhaoyNS63b7DEC-DjBQUOw1SwB25YLcQJ2A54yW3BY2uHpsbZgBcly1aEJ1_bFyyJ1dfdZkS97woU5hFuQTFXMIL3MCkEdzhR9ikBfyiEaYEQarpW9_EJ4Mge2GATu0JaI0cApBnbN22uqT4NHKnh5kbZVJAAk-ElMH13b5RleUckog=s400-no">

				<p>
					I come from a hard-working background and I always do whatever it takes to accomplish the task at hand. If I don't know how
					to do it, I figure it out. I have never missed a deadline on a project that was within my control, and I always provide
					a can-do attitude when any new project comes up.
					<br>
					<br>
					<a class="btn btn-success" href="work.html">Check Out My Portfolio</a> or
					<a class="btn btn-success" href="contact.html">Get in Touch</a>
				</p>
			</article>
		</section>
	</div>
</div>