<div id="hero">
	<img class="hero_img img-responsive" src="~/images/hero_sunrise.jpg" alt="Payson Utah Sunrise">
</div>
<div class="hero_content container-fluid">
	<div class="row">
		<img class="hero_me" src="~/images/me.jpg"
			 alt="Jake Hershberger, Utah Full-Stack Developer">
		<br>
		<p class="hero_me_desc">
			Jake Hershberger
			<br>
			<span class='since'>Software Programmer | Certified Full-Stack Developer | Award Winning UI/UX Designer</span>

		</p>
		<br>
		<p class="desc">
			4+ years experience in the Design and Development of web applications.
			<br />Full-Stack Certification by The University of Utah with 1+ year experience.
			<br>
			<span class="since">Coding Since 2014</span>
		</p>
		<div class="pulse-btn" onclick="window.location.href='Portfolio'">
			<a>View Portfolio</a>
			<div class="bg"></div>
		</div>

	</div>
</div>
<script>
	document.getElementById("homeContainer").classList = " "
</script>