<div id="hero">
	<img class="hero_img img-responsive" src="~/images/hero_sunrise.jpg" alt="Payson Utah Sunrise">
</div>
<div class="hero_content container-fluid">
	<div class="row">
		<img class="hero_me" src="http://jhwebdev.com/assets/images/me.jpg"
			 alt="Jake Hershberger, Utah Full-Stack Developer">
		<br>
		<p class="hero_me_desc">
			Jake Hershberger
			<br>
			<span class='since'>Software Programmer | Certified Full-Stack Developer | Award Winning UI/UX Designer</span>

		</p>
		<br>
		<p class="desc">
			Building amazing websites with all the fixin's that they need.
			<br>For those who are in need of such a thing.
			<br>
			<span class="since">Coding Since 2014</span>
		</p>
		<div class="pulse-btn" onclick="window.location.href='work.html'">
			<a href="work.html">View Portfolio</a>
			<div class="bg"></div>
		</div>

	</div>
</div>