@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="generator" content="Jacob Hershberger Web Developer">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="JhWebDev is the online development portfolio for Jacob Hershberger. Located in Utah Jacob is a full-stack developer and makes awesome websites for those who want one.">
	<meta name="keywords" content="Jacob Hershberger, jacob hershberger full stack developer, jacob hershberger full-stack developer, Utah Web Developer, full-stack developer, full-stack development full stack developer, full stack development,">
	<meta name="author" content="Jacob Hershberger - Full Stack Developer">
	<meta charset="UTF-8">

	<title>Jacob Hershberger – Full-Stack Developer</title>

	<!--google analytics code-->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-52800155-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-52800155-1');
	</script>
	<link rel="stylesheet" href="~/css/reset.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/site.css" />

	<script src="https://use.fontawesome.com/6b50bc4b96.js"></script>
 

</head>
<body>
	<nav id="nav" class="navbar navbar-default">

		<div class="navbar-header">
			<div class="nav-content">
				<a asp-area="" asp-controller="Home" asp-action="About" class="nav-item">About</a>
				<a asp-area="" asp-controller="Portfolio" asp-action="Index" class="nav-item">Portfolio</a>
				@*<a asp-area="" asp-controller="Home" asp-action="Index">*@
					<img alt="brand_img" class=" brand_img" src="http://jhwebdev.com/assets/images/jh-update.png" width="80px;">
				@*</a>*@
				<a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-item">Contact</a>
				<a asp-area="" asp-controller="Home" asp-action="Index" class="nav-item">Home</a>
			</div>
		</div>
	</nav>

	<partial name="_CookieConsentPartial" />

	@RenderBody()
	<footer id="footer" class="footer">
		<hr> © <span id="cp-year"></span> Jacob Hershberger All Rights reserved.<br>
		@if (SignInManager.IsSignedIn(User))
		{
			<form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
				<a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="btn btn-link">Account</a>
				<button type="submit" class="btn btn-link  ">Logout</button>
			</form>
		}
		else
		{
			@*<a asp-area="Identity" asp-page="/Account/Register">Register</a>*@
			<br />
			<a asp-area="Identity" asp-page="/Account/Login">Login</a>
		}
		<!-- |
		<a href="#">Privacy Policy</a> |
		<a href="#">Terms of Use</a> <br><br> -->

	</footer>


	<script>
		var date = new Date();
		date = date.getFullYear();
		document.getElementById("cp-year").innerHTML = date;

	</script>

	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
